body{
    background-color: rgb(70, 70, 240);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px; /* Dando espaço da borda ao conteudo */
    width: 700px; /* definindo largura da div*/
    margin: auto; /* centralizando a div no meio*/
    box-shadow: 5px 5px 10px black; /* fazendo uma sombra em 3 cantos */
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
img{
    border-radius: 40%;
}